*.pyc
**/*.dcd
**/*gz
__pycache__/
RL_CLEANRL/cleanrl
/2D_model_potential_TW/__pycache__/*
/2D_model_potential_TW/langevin_approach/*
/2D_model_potential_TW/data*
/2D_model_potential_TW/figs*

/2D_Dialanine/trajectories/*

/1D_NaCl_TW/*
!/1D_NaCl_TW/*.py

/1D_langevin_sim/*
!/1D_langevin_sim/*.py

/2D_langevin_sim/*
!/2D_langevin_sim/*.py

/1D_PMg/*
!/1D_PMg/*.py

/1D_langevin_sim_backforth/*
!/1D_langevin_sim_backforth/*.py

/1D_NaCl_TW_backforth/*
!/1D_NaCl_TW_backforth/*.py

/1D_PMg_backforth/*
!/1D_PMg_backforth/*.py

./paper_publication/data/*
./paper_publication/
paper_publication/data/traj/2D/metad/20231129-1922082_metaD_pos_traj_.npy

**/*.log