*.pyc
__pycache__/
RL_CLEANRL/cleanrl
/2D_model_potential_TW/__pycache__/*
/2D_Dialanine/trajectories/*
/1D_NaCl_TW/trajectories/*
/1D_NaCl_TW/__pycache__/*
/2D_model_potential_TW/langevin_approach/traj/*
/2D_model_potential_TW/langevin_approach/data/*
/2D_model_potential_TW/langevin_approach/figs*
/2D_model_potential_TW/langevin_approach/MetaD_auxfiles/*
/2D_model_potential_TW/data*
/2D_model_potential_TW/figs*

/1D_NaCl_TW/bias_plots/*
/1D_NaCl_TW/MetaD_auxfiles/*
/1D_NaCl_TW/gaussian_params/*
/1D_NaCl_TW/visited_state/*
/1D_NaCl_TW/trajectories/*
/1D_NaCl_TW/distance/*
/1D_NaCl_TW/__pycache__/*

/1D_langevin_sim/figs/*
/1D_langevin_sim/trajectory/*
/1D_langevin_sim/params/*
/1D_langevin_sim/visited_states/*

/2D_langevin_sim/MetaD_auxfiles/*
/2D_langevin_sim/trajectory/*
/2D_langevin_sim/figs/*
/2D_langevin_sim/data/*
/2D_langevin_sim/params/*
/2D_langevin_sim/__pycache__/*
/2D_langevin_sim/visited_states/*
/2D_langevin_sim/langevin_approach/*

/1D_PMg/trajectory/*
/1D_PMg/fig/*
/1D_PMg/gaussian_params/*
/1D_PMg/distance/*
